.form {
	margin: 200px auto;
	background: var( --black );
	width: 800px;
	padding: 50px;
}

.fields {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

.input, .textarea {
	width: 47%;
}

.field {
	margin-bottom: 30px;
}

.field:last-child {
	margin-bottom: 0;
}

.field label,
.field input,
.textarea label,
.textarea textarea {
	display: block;
}

.field label, .textarea label {
	margin-bottom: 10px;
	font-size: 19px;
	color: var( --white );
}

.field input {
	color: var( --black );
	padding: 15px;
	border-radius: 10px;
	border: none;
	outline: none;
	width: 100%;
}

.textarea textarea {
	color: var( --black );
	width: 100%;
	height: 80%;
	border-radius: 10px;
	border: none;
	outline: none;
	padding: 15px;
	resize: none;
}

.form button[type="submit"] {
	background: var( --gold );
	color: var( --black );
	border: none;
	padding: 12px 50px;
	border-radius: 50px;
	font-size: 19px;
	display: block;
	margin: 60px auto 0;
	cursor: pointer;
}


@media (max-width: 767px) {

	.form {
		padding: 30px 20px;
		width: 90%;
		margin: 100px auto;
	}

	.input, .textarea {
		width: 100%;
	}

	.field {
		margin-bottom: 20px;
	}

	.field:last-child {
		margin-bottom: 20px;
	}

	.field label, .textarea label {
		font-size: 16px;
	}

	.field input, .textarea textarea {
		padding: 13px;
	}

	.textarea {
		height: 150px;
	}

	.textarea textarea {
		height: 100%;
	}

	.form button[type="submit"] {
		font-size: 16px;
	}

}


@media (min-width: 768px) and (max-width: 1024px) {

	.form {
		width: 700px;
	}

}