@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* Colors */
  --white: #FFFFFF;
  --gold: #E8B500;
  --gray: #C4C4C4;
  --black: #242424;
  --transparent-black: rgba(36,36,36,0.7);
  --transparent-gray: rgba(196,196,196,0.7);
  --facebook-color: #4267B2;
  --twitter-color: #1DA1F2;

  /* Font Size */
  --title-font-size: 50px;

  /* TImeline Height */
  --timeline-height: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.highlight-letter {
  color: var(--gold);
  font-size: 75px;
}

.title {
  font-size: var(--title-font-size);
  text-align: center;
  position: relative;
  padding-bottom: 10px;
  color: var( --white );
}

.title::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 5px;
  background: var(--white);
}

.container {
  max-width: 1366px;
  margin: auto;
}


/* Animation Class */

/* Tech Stacks Section */
.tech-stacks .stack.popup-from-left {
  opacity: 1;
  margin-left: 0 !important;
}

.tech-stacks .stack.popup-from-right {
  opacity: 1;
  margin-right: 0 !important;
}

/* Project Section */
.popup {
  transform: scale(1) !important;
}


@media (max-width: 767px) {

  .highlight-letter {
    font-size: 55px;
  }

}